
/* adds additional padding to the bottom of an element */
.pad-bottom {
  padding-bottom: 40px;
}

/* added additional class name for header elements */
.signout {
  margin-top: 60px;
}

/* styles the signed in user's name in the header */
.header nav span {
  color: #fff;
  margin-left: 20px;
}

/* styles the validation errors */
.validation--errors--label {
  color: #7c689b;
  font-size: 28px;
}
.validation-errors ul {
  color: #7c689b;
  padding: 15px 0 40px 10px;
}
.bounds {
  max-width: 100%;
  margin: 0 auto;
}

.signin, .signup {
  margin-top: 60px;
  width: 100%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.materialsNeeded {
  position: absolute;
  right: 35px;
  top: 400px;
  width: 30%;
  border: none;
}

.materialsNeeded ul{
  list-style-type: square;
}

.description {
  position: absolute;
  left: 55px;
  top: 410px;
  width: 55%;
  border: none;
}
.description ul{
  list-style-type: square;
  position: relative;
  left: 30px;
}